<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="718b94">  <td>18/12/28 17:09:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AmazonTestcase.method()[pri:0, instance:com.amazonframepractice.AmazonTestcase@a38d7a3]">&gt;&gt;method</td> 
<td>&nbsp;</td>  <td>main@1205555397</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>18/12/28 17:10:09</td>   <td>10425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTestcase.deal()[pri:0, instance:com.amazonframepractice.AmazonTestcase@a38d7a3]">deal</td> 
  <td>main@1205555397</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>18/12/28 17:13:24</td>   <td>204799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AmazonTestcase.method()[pri:0, instance:com.amazonframepractice.AmazonTestcase@a38d7a3]">&gt;&gt;method</td> 
<td>&nbsp;</td>  <td>main@1205555397</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>18/12/28 17:13:36</td>   <td>217148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTestcase.test()[pri:0, instance:com.amazonframepractice.AmazonTestcase@a38d7a3]">test</td> 
  <td>main@1205555397</td>   <td></td> </tr>
</table>
